
body {
    background:#E3CEF6;
    margin-left: 100px; //esquerda
    margin-right: 200px; //direta
}

header {
    margin-top: 70px; //acima
}

h1 {
    color: red;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 300px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 30px;
}